---
import type { SkillGroup as SkillGroupType } from "@data/types";

interface Props {
  group: SkillGroupType;
}

const { group } = Astro.props;
---

<section class="card skill-group">
  <div class="card__body">
    <h3>{group.title}</h3>
    <ul class="skill-list">
      {group.skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </div>
</section>
